body {
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .div-left {
    width: 50%;
  }
  
  .div-right {
    width: 50%;
  }

  .d-flex{
    display: flex;
    justify-content: space-between;
  }
  
  .list-group {
    padding: 0;
  }
  
  .list-group-item {
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-body {
    padding: 10px;
  }


  .Stat-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
  }

  .HP {
    font-family:'Courier New', Courier, monospace;
  }
  .Energy {
    font-family:'Courier New', Courier, monospace;
  }
  .Attack {
    font-family:'Courier New', Courier, monospace;
  }
  .Defense {
    font-family:'Courier New', Courier, monospace;
  }