body {
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .div-left {
    width: 50%;
  }
  
  .div-right {
    width: 50%;
  }

  .d-flex{
    display: flex;
    justify-content: space-between;
  }
  
  .list-group {
    padding: 0;
  }
  
  .list-group-item {
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .list-group-game {
    cursor: none;
  }
  
  .list-group-deck {
    cursor: none;
    display: grid;
    flex-direction: row;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-body {
    padding: 10px;
  }


  .Stat-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
  }

  .CardName {
    font-family: 'Times New Roman', Times, serif;
  }
  .HP {
    font-family:'Courier New', Courier, monospace;
  }
  .Energy {
    font-family:'Courier New', Courier, monospace;
  }
  .Attack {
    font-family:'Courier New', Courier, monospace;
  }
  .Defense {
    font-family:'Courier New', Courier, monospace;
  }

  .InfoBox {
    display: flex;
    flex-direction: row;
  }

  .PlayButton {
    background-color: blanchedalmond;
    width: 150px;
    height: 50px;
  }
  .PlayButton:hover {
    background-color: rgba(235, 215, 185, 1);
  }

  .game-board {
    display: flex;
    flex-direction: row;
  }

  .player-one-cards {
    display: flex;
    flex-flow: row;
    width: 100%;
  }
  .player-two-cards {
    display: flex;
    flex-flow: row;
    width: 100%;
  }
  .player-one-card-slot, .player-two-card-slot, .card-slot{
    padding-top: 10px;
    padding-left: 10px;
    width: 400px;
    height: 215px;
    margin: 10px;
    background-color: #b3b3b3;
    border: 1px solid #000000;
  }


  .deck-show {
    display: flex;
    flex-direction: column;
  }

  .deck-card {
    width: auto;
    height: auto;
    padding-left: 10px;
    margin: 10px;
    background-color: #b3b3b3;
    border: 1px solid #000000;
  }

  .deck-checkbox {
    padding-top: 10px;
    padding-right: 10px;
  }